[Unit]
Description=status email for %i to dan

[Service]
Type=oneshot
ExecStart=/home/dan/.local/bin/systemd-email danielepietroarosio@gmail.com %i
;User=dan
;Group=systemd-journal
