[Unit]
Description=daily elfeed update.

[Timer]
Persistent=true
OnCalendar=daily
#OnBootSec= 1min
#OnUnitActiveSec= 1min
#OnCalendar=*-*-* 17:23:00
Unit=emacs.service

[Install]
WantedBy=timers.target
