# vim
# vim/.vim/.netrwhist
# they are links anyway
# vim/.vim/bundle
#vim/thesaurus/*
# */.vim/spell/en.utf-8.add.spl

# anacron
**/.anacron/spool

# Unit test / coverage reports
htmlcov/
.coverage*
coverage.xml

#*.elc
__pycache__/

*.spacemacs.env
# Flycheck
.flycheck_*.el

# Emacs runtime artifacts
emacs/.emacs.d/history
emacs/.emacs.d/recentf
emacs/.emacs.d/org-roam.db
emacs/.emacs.d/straight/build-cache.el
emacs/.emacs.d/straight/build/
emacs/.emacs.d/straight/modified/
emacs/.emacs.d/straight/repos/
docs/_build/
