# vim
vim/.vim/.netrwhist
# they are links anyway
#vim/bundle/*
#vim/thesaurus/*
*/.vim/spell/en.utf-8.add.spl

# anacron
anacron/.anacron/spool/

# tmux plugins (installed manually with git submodule add)
tmux/.tmux/resurrect/
