[submodule "tmux/.tmux/plugins/tmux-resurrect"]
	path = tmux/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
	branch = master
[submodule "tmux/.tmux/plugins/tmux-colors-solarized"]
	path = tmux/.tmux/plugins/tmux-colors-solarized
	url = https://github.com/seebi/tmux-colors-solarized.git
	branch = master
[submodule "pandoc/.pandoc/reveal.js"]
	path = pandoc/.pandoc/reveal.js
	url = https://github.com/hakimel/reveal.js.git
	branch = master
