# first
# pip install --user -I pip
# pip install --user pip-tools
# pip-sync --user user-requirements.local.txt
#
# python-click
pip-tools
pyscaffold
tox
# python layer
#;; pytest python-jedi python-json-rpc hy yapf python-isort
#;; for syntax-checking: flake8 or python-pylint
autoflake
epc
importmagic
isort
service-factory
# bio
prody
# python-networkx python-pillow python-cloudpickle
scikit-image
# mine
-e /home/dan/workspace/imgread/
