# see git repo
-e /home/dan/workspace/imgread/
# python-xlrd python-seaborn python-pandas
-e /home/dan/workspace/nimg/
-e /home/dan/workspace/platereaders/prenspire/
-e /home/dan/workspace/platereaders/prtecan/
