[Desktop Entry]
Encoding=UTF-8
Name=Origin8
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Origin8" %F
Icon=/home/dan/.PlayOnLinux//icones/full_size/Origin8
Name[fr_FR]=Origin8
StartupWMClass=Origin8.exe
Categories=
