[Unit]
Description=Daily Borg Backup Timer

[Timer]
# Runs every day at 00:00 (midnight)
OnCalendar=daily
# If the machine was off, run it immediately on boot
Persistent=true
# The service file this timer triggers
Unit=borg.service

[Install]
WantedBy=timers.target
