[Unit]
Description=daily borg backup.

[Timer]
Persistent=true
#OnCalendar=daily
OnCalendar=hourly
Unit=borg.service

[Install]
WantedBy=timers.target
