[Unit]
Description=Run simple RAID scrubbing weekly

[Timer]
Unit=raid_scrubbing.service
Persistent=true
OnCalendar=daily
RandomizedDelaySec=3min

[Install]
WantedBy=timers.target
