[Unit]
Description=Run recollindex daily and every 3 hours

[Timer]
Unit=raid_scrubbing.service
Persistent=true
OnCalendar=daily
RandomizedDelaySec=3min

[Install]
WantedBy=timers.target
