[Unit]
Description=check mail
RefuseManualStart=no
RefuseManualStop=yes
After=gpg-agent.service
Wants=gpg-agent.service

[Service]
Type=oneshot
ExecStart=/home/dan/.progs/bin/checkmail.sh
