[Unit]
Description=Run recollindex every 2 hours

[Timer]
Persistent=false
OnBootSec= 1min
;RandomizedDelaySec=20min
OnUnitActiveSec= 11min
Unit=recollindex.service

[Install]
WantedBy=timers.target
