snippet da "my name"
daniele arosio
endsnippet

snippet DA "My Name"
Daniele Arosio
endsnippet

snippet ad "signature" b
----
Daniele Arosio
Istituto di Biofisica
Consiglio Nazionale delle Ricerche & FBK
Via Sommarive, 18
I-38123 Trento, Italy

daniele.arosio@cnr.it
tel +39 0461 314607
fax +39 0461 314875
----
endsnippet
