[Unit]
Description=Run rsync from rsnapshots to vigolana and from vigolana:borg.

[Timer]
Persistent=true
OnCalendar=daily
RandomizedDelaySec=21min
Unit=rsync2vigolana.service

[Install]
WantedBy=timers.target
