[[mgr.prepend_keymap]]
on = ["g", "d"]
run = "cd /home/dati/"
desc = "Cd to /home/dati"

[[mgr.prepend_keymap]]
on = ["g", "w"]
run = "cd ~/workspace"
desc = "Cd to ~/workspace"

[[mgr.prepend_keymap]]
on = "'"
for = "unix"
run = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

# Copy selected files to the system clipboard while yanking
[[mgr.prepend_keymap]]
on = "y"
run = ['shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list', "yank"]

# cd back to the root of the current Git repository
[[mgr.prepend_keymap]]
on = ["g", "r"]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'

# smart-paste without entering destination folder
[[mgr.prepend_keymap]]
on = "p"
run = "plugin smart-paste"
desc = "Paste into the hovered directory or CWD"

[[mgr.prepend_keymap]]
on = "t"
run = "plugin smart-tab"
desc = "Create a tab and enter the hovered directory"

# Hide/Show preview:
[[mgr.prepend_keymap]]
on = "\\"
run = "plugin toggle-pane min-preview"
desc = "Show or hide the preview pane"

# Maximize/Restore preview:
[[mgr.prepend_keymap]]
on = "|"
run = "plugin toggle-pane max-preview"
desc = "Maximize or restore the preview pane"

# email selected files
[[mgr.prepend_keymap]]
on = "<C-m>"
run = "execute --block emacsclient --no-wait $@"
