[[mgr.prepend_keymap]]
on = ["g", "a"]
run = 'search --via=rga'
desc = "Search file contents recursively (rga)"

[[mgr.prepend_keymap]]
on = ["g", "f"]
run = 'search_do --via=fd --args="-tf -d3"'
desc = "Search and switch to a flat view (max depth 3)"

[[mgr.prepend_keymap]]
on = [",", ","]
run = ["sort mtime --reverse"]
desc = "Sort by modified time (reverse)"

[[mgr.prepend_keymap]]
on = ["g", "d"]
run = "cd /home/dati/"
desc = "Cd to /home/dati"

[[mgr.prepend_keymap]]
on = ["g", "w"]
run = "cd ~/workspace"
desc = "Cd to ~/workspace"

[[mgr.prepend_keymap]]
on = "'"
for = "unix"
run = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

# Copy selected files to the system clipboard while yanking
[[mgr.prepend_keymap]]
on = "Y"
run = ['shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list', "yank"]

# smart-paste without entering destination folder
[[mgr.prepend_keymap]]
on = "p"
run = "plugin smart-paste"
desc = "Paste into the hovered directory or CWD"

[[mgr.prepend_keymap]]
on = "t"
run = "plugin smart-tab"
desc = "Create a tab and enter the hovered directory"

# Confirm before quitting if multiple tabs are open
[[mgr.prepend_keymap]]
on = "q"
run = "plugin confirm-quit"

# Hide/Show preview:
[[mgr.prepend_keymap]]
on = "\\"
run = "plugin toggle-pane min-preview"
desc = "Show or hide the preview pane"

# Maximize/Restore preview:
[[mgr.prepend_keymap]]
on = "|"
run = "plugin toggle-pane max-preview"
desc = "Maximize or restore the preview pane"

# cd back to the root of the current Git repository
[[mgr.prepend_keymap]]
on = ["g", "r"]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'

# email selected files
[[mgr.prepend_keymap]]
on = "<C-m>"
run = 'shell --block "emacsclient -c --no-wait $files"'
desc = "Email selected files via emacsclient"

[[mgr.prepend_keymap]]
on = ["C"]
run = "plugin ouch"
desc = "Compress with ouch"

# [[manager.keymap]]
[[mgr.prepend_keymap]]
on = ["U"]
run = "show_annex_size"
desc = "Show git-annex total size"

[[mgr.prepend_keymap]]
on = ["g", "s"]
run = "plugin git-annex-utils"
desc = "Show Git-Annex total size"
