[[mgr.prepend_keymap]]
on = ["g", "a"]
run = 'search --via=rga'
desc = "Search file contents recursively (rga)"

[[mgr.prepend_keymap]]
on = ["g", "f"]
run = 'search_do --via=fd --args="-tf -d3"'
desc = "Search and switch to a flat view (max depth 3)"

[[mgr.prepend_keymap]]
on = [",", ","]
run = ["sort mtime --reverse"]
desc = "Sort by modified time (reverse)"

[[mgr.prepend_keymap]]
on = ["g", "d"]
run = "cd /home/dati/"
desc = "Cd to /home/dati"

[[mgr.prepend_keymap]]
on = ["g", "w"]
run = "cd ~/workspace"
desc = "Cd to ~/workspace"

[[mgr.prepend_keymap]]
on = "'"
for = "unix"
run = 'shell "$SHELL" --block'
desc = "Open $SHELL here"

# Copy selected files to the system clipboard while yanking
[[mgr.prepend_keymap]]
on = "Y"
run = ['shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list', "yank"]

# smart-paste without entering destination folder
[[mgr.prepend_keymap]]
on = "p"
run = "plugin smart-paste"
desc = "Paste into the hovered directory or CWD"

[[mgr.prepend_keymap]]
on = "t"
run = "plugin smart-tab"
desc = "Create a tab and enter the hovered directory"

# Confirm before quitting if multiple tabs are open
[[mgr.prepend_keymap]]
on = "q"
run = "plugin confirm-quit"

# Hide/Show preview:
[[mgr.prepend_keymap]]
on = "\\"
run = "plugin toggle-pane min-preview"
desc = "Show or hide the preview pane"

# Maximize/Restore preview:
[[mgr.prepend_keymap]]
on = "|"
run = "plugin toggle-pane max-preview"
desc = "Maximize or restore the preview pane"

# cd back to the root of the current Git repository
[[mgr.prepend_keymap]]
on = ["g", "r"]
run = 'shell -- ya emit cd "$(git rev-parse --show-toplevel)"'

[[mgr.prepend_keymap]]
on = ["C"]
run = "plugin ouch"
desc = "Compress with ouch"

# [[manager.keymap]]
[[mgr.prepend_keymap]]
on = ["U"]
run = "show_annex_size"
desc = "Show git-annex total size"

[[mgr.prepend_keymap]]
on = ["g", "s"]
run = "plugin git-annex-utils"
desc = "Show Git-Annex total size"

# email selected files
[[mgr.prepend_keymap]]
on = "<C-m>"
run = '''shell --block --
    # 1. Collect all selected paths, separated by a comma.
    #    We use printf "%s," to ensure no trailing newline, and sed to remove the final comma.
    paths=$(for p in "$@"; do printf "%s," "$p"; done | sed 's/,$//')

    # 2. ESCAPE the collected paths for embedding into the Lisp string.
    #    This is crucial for paths containing spaces, backslashes, or quotes.
    elisp_paths=$(printf "%s" "$paths" | sed 's/\\/\\\\\\\\/g; s/"/\\"/g')

    # 3. Execute the working command via emacsclient, ensuring it creates a new frame (-c)
    #    and doesn't block the terminal (until the frame is closed) (-n).
    emacsclient -c -n -e "(mu4e-compose-new-with-attachments \"$elisp_paths\")"
'''
desc = "Compose mu4e message with selected file attachments"
