[mgr]
ratio = [1, 3, 4]
sort_by = "natural"
linemode = "size"
show_symlink = false

[plugin]
prepend_previewers = [{ mime = "text/csv", run = "miller" }]


[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
