[mgr]
ratio = [1, 3, 4]
sort_by = "natural"
linemode = "size"
show_symlink = false

[opener]
jupyter = [{ run = '${TERM} bash -c jupyter-lab "$@"', block = false, orphan = true, desc = "jupyter" }]
csvlens = [
  { run = 'csvlens "$@"', block = true, desc = "csvlens" },
]
edit = [
  { run = '$EDITOR "$@"', block = false, for = "unix" },
]
open = [
  { run = 'handlr open "$@"', desc = "Open" },
  { run = 'handlr open -e true "$@"', desc = "Open menu" },
]

[open]
prepend_rules = [
  { name = "*.csv", use = ["csvlens"] },
  { name = "*.ipynb", use = ["jupyter"] },
]

[plugin]
prepend_previewers = [
  # Replace magick, image, video with mediainfo
  { mime = "{audio,video,image}/*", run = "mediainfo" },
  { mime = "application/subrip", run = "mediainfo" },
  { name = "*.csv", run = 'piper -- bat --color=always --style=grid,numbers "$1"' },
  # HTML preview
  { name = "*.{html,htm,xhtml}", run = 'piper -- sh -c "w3m -dump -T text/html \"$1\" 2>/dev/null || pandoc -t plain -- \"$1\" 2>/dev/null || echo \"No HTML preview available\""' },
  # # DJVU preview
  # { name = "*.{djvu,djv}", run = "djvu-view" },
  { name = "*.chm", run = 'piper -- extract_chmLib "$1" --' },
  { name = "*/", run = 'piper -- eza -TL=3 --color=always --icons=always --group-directories-first --no-quotes "$1"' },
  { name = "*.eml", run = 'piper -- view_mail_html.py "$1"' },
  { mime = "message/rfc822", run = 'piper -- mu view -- "$1"' },
  { name = "*.cab", run = 'piper -- sh -c "bsdtar --list --file \"$1\" 2>/dev/null || file -bL \"$1\""' },
  # Office Documents
  { mime = "application/openxmlformats-officedocument.*", run = "office" },
  { mime = "application/oasis.opendocument.*", run = "office" },
  { mime = "application/ms-*", run = "office" },
  { mime = "application/msword", run = "office" },
  { name = "*.docx", run = "office" },
  { name = "*.sxw", run = "office" },
  # Archive previewer
  { mime = "application/*zip", run = "ouch" },
  { mime = "application/*tar", run = "ouch" },
  { mime = "application/*bzip2", run = "ouch" },
  { mime = "application/*7z-compressed", run = "ouch" },
  { mime = "application/*rar", run = "ouch" },
  { mime = "application/*xz", run = "ouch" },
  { mime = "application/*zstd", run = "ouch" },
  { mime = "application/java-archive", run = "ouch" },
  # Last
  { name = "/remote/**", run = 'noop' },
]

prepend_preloaders = [
  # Replace magick, image, video with mediainfo
  { mime = "{audio,video,image}/*", run = "mediainfo" },
  { mime = "application/subrip", run = "mediainfo" },
  # Adobe Illustrator, Adobe Photoshop is image/adobe.photoshop, already handled above
  { mime = "application/postscript", run = "mediainfo" },
  # Office Documents
  { mime = "application/openxmlformats-officedocument.*", run = "office" },
  { mime = "application/oasis.opendocument.*", run = "office" },
  { mime = "application/ms-*", run = "office" },
  { mime = "application/msword", run = "office" },
  { name = "*.docx", run = "office" },
]

append_previewers = [
  # My fallback previewer
  { name = "*", run = "binary" },
]

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
