[Unit]
Description=Send Mail every Six  minutes
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnBootSec= 1min
OnUnitActiveSec= 1min
Unit=sendmail.service

[Install]
WantedBy=default.target
