MANPATH=/usr/share/man

man-find() {
    f=$(fd . $MANPATH/man${1:-1} -t f -x echo {/.} | fzf) && man $f
}

fman() {
    man -k . | fzf --prompt='Man> ' | awk '{print $1}' | xargs -r man
}

pz() {
pacman -Slq | fzf --multi --preview 'pacman -Si {1}' | xargs -ro sudo pacman -S
}

rga-fzf() {
	RG_PREFIX="rga --files-with-matches"
	local file
	file="$(
		FZF_DEFAULT_COMMAND="$RG_PREFIX '$1'" \
			fzf --sort --preview="[[ ! -z {} ]] && rga --pretty --context 5 {q} {}" \
				--phony -q "$1" \
				--bind "change:reload:$RG_PREFIX {q}" \
				--preview-window="70%:wrap"
	)" &&
	echo "opening $file" &&
	xdg-open "$file"
}

fkill() {
    pid="$(ps -ef | sed 1d | fzf -m --ansi --color fg:-1,bg:-1,hl:46,fg+:40,bg+:233,hl+:46 --color prompt:166,border:46  --border=sharp --prompt="➤  " --pointer="➤ " --marker="➤ "| awk '{print $2}')"
    echo "$pid"
	if [ "x$pid" != "x" ]
	then
		echo $pid | xargs kill -${1:-9}
	fi
}

cp2marzola-mm() {
 rsync -avzP -e 'ssh -p 23456' "$*" mmedia@marzola:/home/MM/
 }

povo() {
  if [[ -e forecast.pdf ]]; then rm forecast.pdf; fi
  wget https://www.yr.no/place/Italy/Trentino_and_South-Tirol/Povo/forecast.pdf
  xdg-open forecast.pdf
}

TNv() {
 rm valanghe_it.pdf
 wget https://avalanche.report/albina_files/`date -I`/`date -I`_it.pdf
 xdg-open `date -I`_it.pdf
 }

grepp() {
 if test -z "$1" || test -z "$2" ; then
   echo "USAGE: grepp searchterm
     filetosearch";
 else
   perl -00ne "print if /$1/i" < $2
 fi }

fss() {
 firefox "http://google.com/search?q=`xsel -p -o`&ie=UTF-8&oe=UTF-8"
 }

ed() {
    if [ "X${2}" = "X" ]; then
        echo "USAGE: ediff <FILE 1> <FILE 2>"
    else
        quoted1=${1//\\/\\\\}; quoted1=${quoted1//\"/\\\"}
        quoted2=${2//\\/\\\\}; quoted2=${quoted2//\"/\\\"}
        emacsclient -c -a emacs -e "(ediff \"$quoted1\" \"$quoted2\")"
    fi
}

2up() {
 mv $1 tmp
 mv tmp `Upper $1`
}

fm() {
 fmt -w 79 $@ > ttt.rnd
 mv ttt.rnd $@
}

fb() {
 goobook query "" |fzf | goobook dquery `cut -f 1`
}
sf() {
 recoll -t -b -a $* | fzf -m
}
