# ~/.inputrc

$include /etc/inputrc
# History completion
"\e[A": history-search-backward
"\e[B": history-search-forward
# Tab completion
set show-all-if-ambiguous on
set completion-ignore-case on
"\eh": "\C-a\eb\ed\C-y\e#man \C-y\C-m\C-p\C-p\C-a\C-d\C-e"

$if Bash
set colored-stats on
$endif
# Color files by types
# Note that this may cause completion text blink in some terminals (e.g. xterm).
set colored-stats On
# Append char to indicate type
set visible-stats On
# Mark symlinked directories
set mark-symlinked-directories On
# Color the common prefix
set colored-completion-prefix On
# Color the common prefix in menu-complete
set menu-complete-display-prefix On


"\C-o": "ranger_cd\C-m"
"\C-f": "rifle `fzf -e`\C-m"
"\ey": "y\C-m"
"\es": "frga\C-m"
"\ek": "fkill\C-m"
# Bind new terminal to <F12>
"\e[24~": "$TERM &\n"

# End of ~/.inputrc
