# CI Workflow
# This workflow runs linting, type checking, and testing (pytest with coverage),
# builds documentation, and deploys it to GitHub Pages.
name: CI

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "*.md"
  push:
    branches:
      - main
    paths-ignore:
      - "*.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  pre-commit:
    name: Lint
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      - name: Install base and hatch and lint
        run: uv sync --locked --extra hatch --extra lint
      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: /home/runner/.cache/pre-commit/
          key: pre-commit|${{ runner.os }}|${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: pre-commit|${{ runner.os }}|
      - name: Run lint
        run: uv run pre-commit run --all-files --show-diff-on-failure # hatch run lint:lint


  auto_merge_deps:
    name: Auto Merge dependencies labeled PRs
    needs: [pre-commit]
    # Run only on pull_request labeled "dependencies"
    if: >
      startsWith(github.event.pull_request.title, 'build(pre-commit): update hooks') ||
      contains(github.event.pull_request.labels.*.name, 'dependencies')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write # This grants permission to read and modify PRs
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Merge PR
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: ""
          MERGE_METHOD: squash
          DELETE_BRANCH_AFTER_MERGE: true
          LOG: "TRACE" # or DEBUG
