
name: Emacs CI

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - 'emacs/**'
      # schedule:
      #   - cron: '0 5 * * 1'  # every Monday at 05:00 UTC

jobs:

  straight-update:
    runs-on: ubuntu-latest
    env:
      CI: true
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Prepare Emacs configuration directory
        run: |
          mkdir -p ~/Sync/proj
          mkdir -p ~/Sync/box/org/gcal
          mkdir -p ~/Sync/notes/arch
          mkdir -p ~/Sync/notes/org-roam
          mkdir -p ~/Sync/biblio
          mkdir -p ~/Sync/media
          ln -s "$GITHUB_WORKSPACE/emacs/.emacs.d" ~/.emacs.d
          tree ~/.emacs.d
      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: Cache Straight.el
        uses: actions/cache@v5
        with:
          path: |
            ~/.emacs.d/straight
            ~/.emacs.d/build
          key: ${{ runner.os }}-straight-${{ hashFiles('emacs/.emacs.d/straight/versions/default.el') }}
          restore-keys: |
            ${{ runner.os }}-straight-

      - name: Run Emacs smoke tests
        run: |
          emacs --batch -l ~/.emacs.d/init.el -l ~/.emacs.d/test/test.el
