name: Emacs CI

on:
  workflow_dispatch:
  push:
    branches:
      - refactor/emacs-elpaca

jobs:

  elpaca-test:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v6
      - name: Prepare Emacs configuration directory
        run: |
          mkdir -p ~/Sync/proj
          mkdir -p ~/Sync/box/org/gcal
          mkdir -p ~/Sync/notes/arch
          mkdir -p ~/Sync/notes/org-roam
          mkdir -p ~/Sync/biblio
          mkdir -p ~/Sync/media
          ln -s "$GITHUB_WORKSPACE/emacs/.emacs.d" ~/.emacs.d
      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: 30.1
      - name: Cache Elpaca
        uses: actions/cache@v5
        with:
          path: |
            ~/.emacs.d/elpaca
          key: ${{ runner.os }}-elpaca-${{ hashFiles('~/.emacs.d/init.el') }}

      - name: Run Emacs smoke test
        run: |
          # Elpaca needs to run in a way that allows it to install packages.
          # --batch implies non-interactive, but elpaca-wait should handle it.
          emacs --batch -l ~/.emacs.d/init.el -l ~/.emacs.d/test/test.el
