name: Update Emacs

on:
  workflow_dispatch:
  # schedule:
  #   - cron: '0 5 * * 1'  # every Monday at 05:00 UTC
  #   - cron: '0 * * * *'

jobs:

  update-straight:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Emacs
        uses: purcell/setup-emacs@master
        with:
          version: 30.1

      # - name: Run Emacs straight.el update and freeze
      #   run: |
      #     emacs --batch --eval "(progn
      #       (require 'straight)
      #       (straight-pull-all)
      #       (straight-check-all)
      #       (straight-freeze-versions))"

      # - name: Commit and push changes
      #   run: |
      #     git config user.name "github-actions[bot]"
      #     git config user.email "github-actions[bot]@users.noreply.github.com"
      #     git add emacs/.emacs.d/straight/versions/default.el
      #     git commit -m "chore(emacs): update straight.el versions"
      #     git push
      #   continue-on-error: true  # if nothing to commit
      - name: Install Stow
        run: sudo apt-get install -y stow

      - name: Restore straight.el cache
        uses: actions/cache@v4
        with:
          path: ~/.emacs.d/straight
          key: ${{ runner.os }}-straight-${{ hashFiles('emacs/.emacs.d/straight/version/default.el') }}
          restore-keys: |
            ${{ runner.os }}-straight-

      - name: Stow emacs config
        run: |
          mkdir -p ~/Sync/proj
          mkdir -p ~/Sync/box/org/gcal
          mkdir -p ~/Sync/notes/arch
          mkdir -p ~/Sync/notes/org-roam
          mkdir -p ~/Sync/biblio
          mkdir -p ~/Sync/media
          mkdir -p ~/.emacs.d/straight/versions
          mkdir -p ~/.config/environment.d
          mkdir -p ~/.local/share/applications
          mkdir -p ~/.local/bin
          stow -t "$HOME" emacs

      - name: Run Emacs smoke test
        run: |
          emacs --batch -l ~/.emacs.d/init.el -l ~/.emacs.d/test/test.el
